/*font-family: 'Droid Sans Mono', monospace;
font-family: 'Patua One', cursive;
font-family: 'Lora'', serif;*/

body {
  background: #ffeebd;
  box-sizing: border-box;
}


aside {
  position: fixed;
  height: 100%;
  width: 25%;
  right: 0;
  top: 0;
  bottom: 0;
  background: #decfa5;
  color: #958c71;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.element {
  animation: pulse 5s infinite;
}

/*@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}*/

.status-bar-wrapper {
  height: 100%;
  width: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #decfa5;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.height--90 {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: space-between;
  align-items: space-between;
}

.notch {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: #585240;
}

.height--5 {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar {
  height: 0%;
  width: 80%;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  background-color: #FBB040;
  transition: 2000ms;
  animation: pulse 2s infinite;
}

main {
  position: absolute;
  height: 100%;
  width: 65%;
  top: 0;
  bottom: 0;
  left: 10%;
  color: #958c71;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 6rem;
  margin: 0;
  color: #585240;
  margin: 10px 0;
}

h1.text--big {
  font-family: 'Lora', monospace;
  font-size: 8vw;
  line-height: 1;
  margin: 0;
}

h2 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 3rem;
}

h3 {
  font-family: 'Lora', sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 2rem;
  letter-spacing: 4px;
  margin: 20px 0;
}

h5 {
  font-family: 'Droid Sans Mono', monospace;
  text-transform: uppercase;
  color: #585240;
}

p {
  font-family: 'Lora', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
}

.main-game-wrapper {

}

.symbol-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.symbol {
  height: 100px;
  width: 100px;
  background-color: #958c71;
  margin: 5px;
  color: #ffeebd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 3rem;
  cursor: pointer;
  transition: 200ms ease;
}

.bs {
  height: 50px;
  width: 50px;
  background-color: #958c71;
  margin: 5px;
  padding: 5px 8px;
  color: #ffeebd;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 1.5rem;
  cursor: pointer;
}

.symbol:hover {
  background-color: #585240;
}

.circle {
  width: 90%;
  background: #c9bc97;
  border-radius: 50%;
  margin: 5%;
}

.st3 {
  transition: 2000ms;
}

.st5 {
  transition: 2000ms;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeebd;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.time-bubble h1 {
  margin: 0;
}

.time-bubble h5 {
  margin: 0;
}

.start-game-button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background: #585240;
  color: #ffeebd;
  font-size: 2rem;
  top: 0;
  left: 0;
  font-family: 'Droid Sans Mono', monospace;
  border: none;
  outline: none;
  transition: 200ms ease;
  cursor: pointer;
}

.start-game-button:disabled {
  color: rgba(255,238,189,0.25)
}

.start-game-button:disabled:hover {
  cursor: not-allowed;
  transform: none;
}


.start-game-button:hover {
  transform: rotate(15deg);
}

@keyframes flash {
  0% {
    top: -150%;
  }
  25% {
    top: 50%;
  }
  75% {
    top: 50%;
  }
  100% {
    top: 150%;
  }
}

.bullshit-alert {
  background: red;
  color: white;
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -150%;
  text-align: center;
  transform: translateY(-50%);
}

.bullshit-alert h5 {
  font-family: 'Droid Sans Mono', monospace;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem
}

.bullshit-alert.active {
  animation: flash 1500ms;
}

.thermometer-bulb {
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
}

.thermometer-stick {
  width: 60px;
  height: 360px;
  background: red;
  border-radius: 30px;
}

modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(88,82,64,0.7);
  z-index: 0;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#modal--language.active {
  display: flex;
}

#modal--player-one-done.active {
  display: flex;
}

#modal--game-over.active {
  display: flex;
}



.modal {
  background: #ffeebd;
  color: #585240;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 300ms;
  z-index: 1;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: center;
  text-align: center;
}

#language-modal.language-modal-active {
  display: flex;
}

#player-one-over-modal.player-one-over-modal-active {
  display: flex;
}

#game-over-modal.game-over-modal-active {
  display: flex;
}

.row {
  width: 100%;
}

.btn--language {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #585240;
  color: #ffeebd;
  font-size: 1.5rem;
  font-family: 'Droid Sans Mono', monospace;
  border: none;
  outline: none;
  transition: 200ms ease;
  cursor: pointer;
  margin: 20px;
}

.btn--language:hover {
  transform: rotate(15deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.svg-wrapper--atom {

}

.atom-svg {
  width: 200px;
  opacity: .5;
  z-index: 1;
  animation: rotate 5s linear infinite;
}

.instructions-text {
  max-width: 800px;
  width: 80%;
  z-index: 2;
}
