/*font-family: 'Droid Sans Mono', monospace;
font-family: 'Patua One', cursive;
font-family: 'Lora', serif;*/

body {
  background: #ffeebd;
  box-sizing: border-box;
}


nav {
  position: fixed;
  height: 100%;
  width: 25%;
  right: 3%;
  top: 0;
  bottom: 0;
  background: #decfa5;
  color: #958c71;
  text-align: center;
}

.element {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
}

.status-bar {
  height: 5%;
  width: 3%;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #FBB040;
  transition: 5000ms;
  animation: pulse 2s infinite;
}

main {
  position: fixed;
  height: 100%;
  width: 75%;
  top: 0;
  bottom: 0;
  left: 0;
  color: #958c71;
  padding: 30px;
  box-sizing: border-box;
}

h5 {
  font-family: 'Droid Sans Mono', monospace;
  text-transform: uppercase;
}

h3 {
  font-family: 'Lora', sans-serif;
}

h1 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 6rem;
  margin: 10px 0;
}

h3 span {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 2rem;
  letter-spacing:4px;
}

.symbol-wrapper {
  width: 90%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.symbol {
  height: 100px;
  width: 100px;
  background-color: #958c71;
  margin: 5px;
  color: #ffeebd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 3rem;
  cursor: pointer;
}

.circle {
  width: 90%;
  background: #c9bc97;
  border-radius: 50%;
  margin: 5%;
}

.st3 {
  transition: 2000ms;
}

.st5 {
  transition: 2000ms;
}
